body {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

.photo {
    width: 300px;
    margin: 5vh auto;
    text-align: center;
}

img {
    width: 100%;
    outline: 2px solid #ccc;
    outline-offset: 10px;
}

.controls {
    width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 100px);
    justify-items: center;
    align-items: center;
}

@media screen and (max-width: 1200px) {
    .controls {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(9, 100px);
        width: 1000px;
    }
}

@media screen and (max-width: 500px) {
    .controls {
        width: 380px;
        grid-template-rows: repeat(9, 80px);
    }
    .controls>div {
        font-size: 10px;
        height: 50px;
    }
    .controls input:focus-within {
        background-color: #d7cfdb;
    }

}

.controls>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #bb96cf;
    width: 90%;
    border-radius: 20%;
    padding: 5px;
}

.controls>div:hover {
    background-color: #d7cfdb;
}

.controls .shadow {
    flex-direction: row;
    flex-wrap: wrap;
}

.shadow>div {
    width: 250px;
    display: flex;
    justify-content: space-evenly;
    align-items:baseline;
}

.shadow>div:nth-of-type(3) {
    width: 150px;
}

.shadowColor {
    align-self: flex-end;
}

label + input {
    margin-top: 2vh;
}
label {
    display: block;
}

/*********** Baseline, reset styles ***********/
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 20rem;
}

/* Removes default focus */
input[type="range"]:focus {
  outline: none;
}

/******** Chrome, Safari, Opera and Edge Chromium styles ********/
/* slider track */
input[type="range"]::-webkit-slider-runnable-track {
  background-color: #bb96cf;
  border-radius: 0.5rem;
  height: 0.5rem;
}

/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -4px; /* Centers thumb on the track */
  background-color: #854b8d;
  border-radius: 0.5rem;
  height: 1rem;
  width: 1rem;
}

/*********** Firefox styles ***********/
/* slider track */
input[type="range"]::-moz-range-track {
  background-color: #bb96cf;
  border-radius: 0.5rem;
  height: 0.5rem;
}

/* slider thumb */
input[type="range"]::-moz-range-thumb {
  background-color: #854b8d;
  border: none; /*Removes extra border that FF applies*/
  border-radius: 0.5rem;
  height: 1rem;
  width: 1rem;
}

input[type="number"] {
    border: 1px solid #854b8d;
    border-radius: 0.5rem;
}

input[type="color"] {
    -webkit-appearance: none;
    appearance: none;
    width: 50px;
    height: 30px;
    border-color: #854b8d;
    border-radius: 50%;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    margin-top: 5px;
}

input[type="color"]::moz-color-swatch, input[type="color"]::webkit-color-swatch {
    border: none;
    border-radius: 50%;
    clip-path: ellipse(10px 20px);
}

